/* Estilos da pagina de destars*/

main section h2.title{
    text-align: center;
    text-transform: uppercase;
}

main {
    height: 100%;
    margin: 0 10px;
}


main section table.tabela {
    border: 2px solid red;
    border-radius: 5px;
}

main section table.tabela tr th {
    padding: 10px;
    border: 2px solid black;
}

main section table.tabela tr td {
    padding: 10px;
    border: 2px solid black;
}

main section table.tabela tr {
    border: 0;
}


main section.cont-figure {
    padding: 5px;
    margin: 0px auto;
    text-align: center;
}

main section.cont-figure figure {
    margin: auto;
}

