/* estilos da pagina index*/

.imagem-index img{
    width:70%;
    margin-top: 30px;
}

main{
    text-align: center;
}



@media screen and (min-width:992px) {
    .imagem-index img{
        width:70%;
        padding:10px, 15px;
    }
}